spring:
  application:
    name: pfcalc-backend

  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: off
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  defaults:
    metrics:
      export:
        enabled: false
  otlp:
    metrics:
      export:
        enabled: false
  metrics:
    tags:
      environment: local
      application: ${spring.application.name}
otel:
  exporter:
    otlp:
      endpoint: 'http://otel-opentelemetry-collector.infrastructure.svc:4317'
      protocol: grpc
  service:
    name: ${spring.application.name}
  instrumentation:
    micrometer:
      enabled: true
  resource:
    attributes:
      environment: local
      application: ${spring.application.name}

pfcc:
  jobs:
    drop-outdated-security-tokens:
      ttl: P10D
      cron: '0 0 0 * * *'
    drop-outdated-reports:
      ttl: P14D
      cron: '0 0 0 * * *'
  mail:
    do-not-reply-address: 'dont-reply@pfcalc.org.ua'
  auth:
    key-algorithm: RSA
    auth-token-expiration: PT10M
    refresh-token-expiration: P10D
    same-site: lax
