name: Build and publish docker image
on:
  push:
    tags:
      - "v**"
jobs:
  notify:
    name: Send Notifications
    runs-on: ubuntu-22.04
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Send TG notification
        run: bash ./build/send-tg-notification.sh \
          '${{ secrets.TG_BOT_TOKEN }}' \
          '${{ secrets.TG_CHAT_ID }}' \
          '${{ needs.build.result }}' \
          'PFCalc Backend'

  build:
    continue-on-error: true # Send notifications even if build fails
    outputs:
      tags: "${{ steps.meta.outputs.tags }}"
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    runs-on: ubuntu-22.04

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package --batch-mode -ntp

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "ghcr.io/yurii-vasylchuk/pfcalc-backend"
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: true
          cache-from: type=registry,ref=ghcr.io/yurii-vasylchuk/pfcalc-backend:buildcache
          cache-to: type=registry,ref=ghcr.io/yurii-vasylchuk/pfcalc-backend:buildcache,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            BUILDKIT_PROGRESS=plain
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}
            github_user=${{ github.actor }}
